@charset "UTF-8";
/* CSS Document */
html {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  max-height: 999999px;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  max-height: 999999px;
  background: #fff;
}

* html body {
  height: 100%;
}

div,
section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: underline;
}

.clearfix:after,
section:after {
  content: ".";
  display: block;
  clear: both;
  font: 0/0 Arial;
  visibility: hidden;
}

img {
  outline: none;
}

.container {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.fixed_hamburger {
  position: fixed;
}

/* Header */
/* End Header */
/* Section 1 */
.about {
  padding-left: 10px;
}

.about_inner {
  display: flex;
  align-items: center;
}

.about_photo {
  margin-left: 35px;
  margin-right: 27px;
}

.about_text {
  margin-top: 50px;
  width: 700px;
  text-align: left;
}

.about_text_header {
  font-family: "Assistant";
  font-size: 11px;
  font-weight: 400;
}

.about_text_main {
  font-family: "Assistant";
  font-size: 30px;
  font-weight: 400;
}

/* End Section 1 */
/* Be humble */
.middle_text_inner {
  font-family: "Assistant";
  font-size: 11px;
  color: #b4b2b2;
  font-weight: 400;
}

.middle_text a:hover {
  text-decoration: none;
}

/* Be humble */
/* Section 2 */
.info {
  margin-top: 107px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.info_inner {
  display: flex;
  justify-content: center;
}

.info_text {
  font-family: "Montserrat";
}

.info_text_header {
  display: flex;
  align-items: center;
  margin-top: 75px;
  margin-left: 10px;
}

.info_text_header_number {
  margin-right: 39px;
}

.info_text_header_line {
  height: 1px;
  width: 54px;
  background-color: #000;
  margin-right: 37px;
}

.info_text_name {
  margin-top: 205px;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
}

.info_text_profession {
  font-size: 24px;
  text-align: left;
}

.info_text_achievements {
  margin-top: 61px;
  display: flex;
}

.info_text_achieve_header {
  font-size: 72px;
  font-weight: 700;
  text-align: left;
}

.benefits__number {
  font-size: 72px;
  font-weight: 700;
  opacity: 0;
}

.achieve_block {
  color: black;
  display: flex;
  align-items: center;
  height: 88px;
}

.plus {
  font-size: 72px;
  font-weight: 700;
}

.info_text_achieve_text {
  font-size: 18px;
}

.info_text_achieve:nth-child(1) {
  margin-right: 77px;
}

.info_photo {
  margin-left: auto;
}

.info_photo_mob {
  display: none;
}

.info_photo_triangle {
  width: 200px;
  height: 0px;
  background: #20a3bf;
  position: relative;
}

.info_photo_triangle:after {
  margin-top: -53px;
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  height: 0;
  border-bottom: 50px solid #fff;
  border-left: 494px solid transparent;
  border-right: 0px solid transparent;
}

/* End Section 2*/
/* Section 3*/
.work {
  max-width: 100%;
  height: 725px;
  background-color: #000;
  margin-top: 100px;
}

.work_text_header {
  display: flex;
  align-items: center;
  margin-top: 100px;
  color: #fff;
}

.work_text_header_number {
  margin-right: 39px;
  margin-top: 100px;
  font-family: "Montserrat";
}

.work_text_header_line {
  height: 1px;
  width: 54px;
  background-color: #fff;
  margin-right: 37px;
  margin-top: 100px;
}

.work_text_header_text {
  margin-top: 100px;
  font-family: "Montserrat";
  font-size: 18px;
}

.work_triangle {
  width: 200px;
  height: 0px;
  background: #20a3bf;
  position: relative;
}

.work_triangle:after {
  margin-top: -249px;
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  height: 0;
  border-bottom: 250px solid #000;
  border-left: 100vw solid transparent;
  border-right: 0px solid transparent;
}

.cloud {
  font-family: "Montserrat";
}

.logo {
  text-transform: uppercase;
}

.logo:hover {
  text-decoration: none;
}

.logotype {
  font-size: 155px;
  font-weight: 700;
}

.design {
  font-size: 85px;
  font-weight: 700;
}

.style {
  font-size: 46px;
  font-weight: 700;
}

.visitki {
  font-size: 28px;
  font-weight: 700;
}

.present {
  font-size: 28px;
  font-weight: 700;
}

.banners {
  font-size: 30px;
  font-weight: 700;
}

.bouqlets {
  font-size: 24px;
  font-weight: 700;
}

.flyers {
  font-size: 18px;
  font-weight: 700;
}

.social {
  font-size: 22px;
  font-weight: 700;
}

.social:hover {
  transform: scale(1.2);
}

[data-aos] {
  opacity: 1 !important;
}

main {
  position: relative;
  margin: auto;
}

img {
  max-width: 100%;
}

.cloud {
  position: relative;
  margin: 8rem auto;
  height: 520px;
}
.cloud h3 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  margin: 0;
}
.cloud ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.cloud ul li {
  position: absolute;
  padding: 0;
  margin: 0;
  transition: 0.2s;
}
.cloud ul li:hover {
  text-decoration: none;
}
.cloud ul li .logo {
  position: relative;
  display: block;
  color: #fff;
}
.cloud ul li:nth-child(1) {
  max-width: 850px;
  width: 850px;
  top: 10px;
  left: 270px;
}
.cloud ul li:nth-child(1):hover {
  transform: scale(1.2);
  text-decoration: none;
}
.cloud ul li:nth-child(1):nth-child(9):hover {
  transform: rotate(-90deg);
}
.cloud ul li:nth-child(1) .logo {
  animation: float 6s ease-in-out infinite -1s;
}
.cloud ul li:nth-child(2) {
  max-width: 122px;
  top: 100px;
  left: 138px;
}
.cloud ul li:nth-child(2):hover {
  transform: scale(1.2);
  text-decoration: none;
}
.cloud ul li:nth-child(2):nth-child(9):hover {
  transform: rotate(-90deg);
}
.cloud ul li:nth-child(2) .logo {
  animation: float 6s ease-in-out infinite -2s;
}
.cloud ul li:nth-child(3) {
  max-width: 800px;
  width: 550px;
  top: 275px;
  right: 472px;
}
.cloud ul li:nth-child(3):hover {
  transform: scale(1.2);
  text-decoration: none;
}
.cloud ul li:nth-child(3):nth-child(9):hover {
  transform: rotate(-90deg);
}
.cloud ul li:nth-child(3) .logo {
  animation: float 6s ease-in-out infinite -3s;
}
.cloud ul li:nth-child(4) {
  max-width: 196px;
  top: 285px;
  right: 275px;
}
.cloud ul li:nth-child(4):hover {
  transform: scale(1.2);
  text-decoration: none;
}
.cloud ul li:nth-child(4):nth-child(9):hover {
  transform: rotate(-90deg);
}
.cloud ul li:nth-child(4) .logo {
  animation: float 6s ease-in-out infinite -4s;
}
.cloud ul li:nth-child(5) {
  max-width: 196px;
  top: 285px;
  left: 870px;
}
.cloud ul li:nth-child(5):hover {
  transform: scale(1.2);
  text-decoration: none;
}
.cloud ul li:nth-child(5):nth-child(9):hover {
  transform: rotate(-90deg);
}
.cloud ul li:nth-child(5) .logo {
  animation: float 6s ease-in-out infinite -5s;
}
.cloud ul li:nth-child(6) {
  max-width: 196px;
  top: 15px;
  left: 55px;
}
.cloud ul li:nth-child(6):hover {
  transform: scale(1.2);
  text-decoration: none;
}
.cloud ul li:nth-child(6):nth-child(9):hover {
  transform: rotate(-90deg);
}
.cloud ul li:nth-child(6) .logo {
  animation: float 6s ease-in-out infinite -6s;
}
.cloud ul li:nth-child(7) {
  max-width: 122px;
  top: 65px;
  left: 55px;
}
.cloud ul li:nth-child(7):hover {
  transform: scale(1.2);
  text-decoration: none;
}
.cloud ul li:nth-child(7):nth-child(9):hover {
  transform: rotate(-90deg);
}
.cloud ul li:nth-child(7) .logo {
  animation: float 6s ease-in-out infinite -7s;
}
.cloud ul li:nth-child(8) {
  max-width: 196px;
  top: 110px;
  left: 55px;
}
.cloud ul li:nth-child(8):hover {
  transform: scale(1.2);
  text-decoration: none;
}
.cloud ul li:nth-child(8):nth-child(9):hover {
  transform: rotate(-90deg);
}
.cloud ul li:nth-child(8) .logo {
  animation: float 6s ease-in-out infinite -8s;
}
.cloud ul li:nth-child(9) {
  max-width: 500px;
  transform: rotate(-90deg);
  width: 500px;
  top: 160px;
  left: -240px;
}
.cloud ul li:nth-child(9):hover {
  transform: scale(1.2);
  text-decoration: none;
}
.cloud ul li:nth-child(9):nth-child(9):hover {
  transform: rotate(-90deg);
}
.cloud ul li:nth-child(9) .logo {
  animation: float 6s ease-in-out infinite -9s;
}

/* End Section 3 */
/* Footer */
.footer {
  margin-top: 50px;
}

.follow {
  font-family: "Montserrat";
  font-size: 9px;
}

.email a {
  display: table;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background: url(images/bg.png) no-repeat center 0;
  background-size: 80px 80px;
  font: 18px/300px "HelveticaNeue_Light", Arial;
  letter-spacing: 0.05em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.email a:hover {
  text-decoration: none;
  background-size: 300px 300px;
  color: #fff;
  opacity: 1;
}

.email span {
  display: block;
  position: absolute;
  top: 25px;
  left: 50%;
  margin-left: -21px;
  background: url(images/mail.png) no-repeat center 0;
  background-size: 43px 30px;
  width: 43px;
  height: 30px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.email a:hover span {
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
}

.email i {
  display: block;
  position: absolute;
  top: 190px;
  left: 50px;
  right: 50px;
  font: 12px/20px "HelveticaNeue_Light", Arial;
  color: #a6a6a6;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.email a:hover i {
  opacity: 1;
}

.round {
  margin-top: 69px;
}

.footer_social {
  margin-top: 56px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 56px;
}

.social_hidden {
  display: none;
  justify-content: center;
  align-items: center;
}

.footer_social img,
svg {
  margin-right: 30px;
}
.footer_social img:hover,
svg:hover {
  transform: scale(1.05);
}

.copy {
  text-align: center;
  font: 8px "Montserrat", Arial;
  letter-spacing: 0.05em;
  color: #a6a6a6;
  padding: 30px 0;
  margin: 0 20px;
  border-top: 1px solid #a6a6a6;
}

.show,
.close {
  margin-bottom: 5px;
  font-size: 10px;
  font-family: "Neuton";
}

/* End Footer */
#button {
  display: inline-block;
  background-color: #000;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 50px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button::after {
  content: "";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#button:hover {
  cursor: pointer;
  background-color: #555;
}

#button:active {
  background-color: #555;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

/* Adaptive */
/* Adaptive */
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?ns6i7");
  src: url("fonts/icomoon.eot?ns6i7#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?ns6i7") format("truetype"), url("fonts/icomoon.woff?ns6i7") format("woff"), url("fonts/icomoon.svg?ns6i7#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak-as: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-social-facebook-circular:before {
  content: "";
  color: black;
  font-size: 72px;
}

.icon-social-facebook-circular:hover {
  color: red;
}

html {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  max-height: 999999px;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  max-height: 999999px;
  background: #fff;
}

* html body {
  height: 100%;
}

div,
section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: underline;
}

.clearfix:after,
section:after {
  content: ".";
  display: block;
  clear: both;
  font: 0/0 Arial;
  visibility: hidden;
}

img {
  outline: none;
}

.container {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.fixed_hamburger {
  position: fixed;
}

.header {
  width: 100%;
  height: 140px;
  display: flex;
  align-items: center;
}

.header_inner {
  width: 100%;
  display: flex;
  align-items: center;
}

.header_logo {
  margin-left: 10px;
}

.header_logo:hover {
  transform: scale(1.05);
}

.header_social {
  margin-left: 70%;
  align-items: center;
}

.header_social img:hover {
  transform: scale(1.05);
}

.header_social span {
  margin-right: 15px;
}

.header_social :last-child {
  margin-right: 0;
}

.menui {
  background: #fff;
  transition: 0.6s ease;
  transition-timing-function: cubic-bezier(0.75, 0, 0.29, 1.01);
  margin-top: 25%;
  margin-left: 25%;
  position: absolute;
}

.menu_icon {
  z-index: 999;
  position: relative;
  display: block;
  padding: 0px;
  height: 55px;
  width: 55px;
  margin: 0px;
  top: 0;
  left: 0;
  background-color: #000;
  margin-left: 90px;
}

.top-animate {
  background: #fff !important;
  top: 13px !important;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mid-animate {
  opacity: 0;
}

.bottom-animate {
  background: #fff !important;
  top: 13px !important;
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
}

.top-menu {
  top: 5px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: #fff;
}

.mid-menu {
  top: 13px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: #fff;
}

.bottom-menu {
  top: 21px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: #fff;
}

.mobilenav {
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 1;
}

.mobilenav_social img:hover {
  transform: scale(1.05);
}

.nav_move {
  position: fixed;
  left: 0;
  height: 100%;
  width: 100%;
  top: 30%;
}

/*.linkmove {
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(#000, #000),
      linear-gradient(#fff, #fff);
    background-size: 20px 2px, 100% 2px, 0 2px;
    background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size .3s linear, background-position .3s linear;
}

.linkmove:hover {
    background-size: 20px 2px, 0 2px, 100% 2px;
    background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
}*/
.linkmove {
  text-decoration: none;
  position: relative;
}

.linkmove::before {
  content: "";
  bottom: 0;
  right: 0;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition: 0.5s;
}

.linkmove:hover:before {
  width: 100%;
  left: 0;
}

.mobilenav li {
  list-style-type: none;
  text-align: center;
  padding: 10px;
}

.mobilenav li a {
  font-size: 45px;
  color: #fff;
  text-decoration: none;
  width: 100%;
  font-family: "Assistant";
  font-weight: 700;
}

.mobilenav_social {
  margin-top: 100px;
  margin-left: 25px;
}

.mobilenav_social img {
  width: 40px;
}

.mobilenav_social a {
  margin-right: 21px;
}

@media (min-width: 500px) {
  #button {
    margin: 30px;
  }
}
@media screen and (max-width: 1920px) {
  .work_triangle:after {
    margin-top: -199px;
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    height: 0;
    border-bottom: 200px solid #000;
    border-left: 100vw solid transparent;
  }
}
@media screen and (min-width: 1100px) {
  .work_inner_row div:last-child {
    margin-right: 0;
  }

  .works {
    margin-top: 100px;
  }

  .about {
    height: 80vh;
  }
}
@media screen and (max-width: 1025px) {
  .work_header {
    height: 160px;
  }
}
@media screen and (max-width: 1440px) {
  .work_triangle:after {
    margin-top: -169px;
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    height: 0;
    border-bottom: 170px solid #000;
    border-left: 100vw solid transparent;
  }

  .mobilenav_social {
    margin-top: 0px;
  }
}
@media screen and (max-width: 1100px) {
  .container {
    width: 768px;
  }

  .header_social {
    margin-left: 57%;
  }

  .about_inner {
    display: block;
  }

  .about_photo {
    margin-left: -35px;
    margin-right: 0;
  }

  .about_text {
    margin-right: 0;
  }

  .middle_text {
    margin-top: 175px;
  }

  .info_inner {
    display: block;
  }

  .info_text_name {
    margin-top: 100px;
  }

  .info_text_profession {
    text-align: center;
  }

  .info_text_achievements {
    width: 464px;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
  }

  .info_text_achieve {
    margin-left: auto;
    margin-right: auto;
  }

  .info_photo_triangle:after {
    left: 138px;
  }

  .info_photo {
    margin-top: 70px;
  }

  .middle_text {
    margin-top: 50px;
  }

  .work {
    margin-top: 100px;
  }

  .work_triangle:after {
    margin-top: -119px;
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    height: 0;
    border-bottom: 120px solid #000;
    border-left: 100vw solid transparent;
  }

  .mobilenav_social {
    margin-top: 0px;
  }

  .logotype {
    font-size: 120px;
    font-weight: 700;
  }

  .design {
    font-size: 45px;
    font-weight: 700;
  }

  .style {
    font-size: 46px;
    font-weight: 700;
  }

  .visitki {
    font-size: 50px;
    font-weight: 700;
  }

  .present {
    font-size: 28px;
    font-weight: 700;
  }

  .banners {
    font-size: 35px;
    font-weight: 700;
  }

  .bouqlets {
    font-size: 30px;
    font-weight: 700;
  }

  .flyers {
    font-size: 35px;
    font-weight: 700;
  }

  .social {
    font-size: 24px;
    font-weight: 700;
  }

  main {
    position: relative;
    margin: auto;
  }

  img {
    max-width: 100%;
  }

  .cloud {
    position: relative;
    margin: 8rem auto;
    height: 520px;
  }
  .cloud h3 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    margin: 0;
  }
  .cloud ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .cloud ul li {
    position: absolute;
    padding: 0;
    margin: 0;
    transition: 0.2s;
  }
  .cloud ul li:hover {
    text-decoration: none;
  }
  .cloud ul li .logo {
    position: relative;
    display: block;
    color: #fff;
  }
  .cloud ul li:nth-child(1) {
    max-width: 500px;
    width: 850px;
    top: 20px;
    left: 250px;
  }
  .cloud ul li:nth-child(1):hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .cloud ul li:nth-child(1):nth-child(9):hover {
    transform: rotate(0deg);
  }
  .cloud ul li:nth-child(1) .logo {
    animation: float 6s ease-in-out infinite -1s;
  }
  .cloud ul li:nth-child(2) {
    max-width: 122px;
    top: 80px;
    left: 20px;
  }
  .cloud ul li:nth-child(2):hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .cloud ul li:nth-child(2):nth-child(9):hover {
    transform: rotate(0deg);
  }
  .cloud ul li:nth-child(2) .logo {
    animation: float 6s ease-in-out infinite -2s;
  }
  .cloud ul li:nth-child(3) {
    max-width: 200px;
    text-align: left;
    width: 550px;
    top: 225px;
    right: 550px;
  }
  .cloud ul li:nth-child(3):hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .cloud ul li:nth-child(3):nth-child(9):hover {
    transform: rotate(0deg);
  }
  .cloud ul li:nth-child(3) .logo {
    animation: float 6s ease-in-out infinite -3s;
  }
  .cloud ul li:nth-child(4) {
    max-width: 196px;
    top: 222.5px;
    right: 60px;
  }
  .cloud ul li:nth-child(4):hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .cloud ul li:nth-child(4):nth-child(9):hover {
    transform: rotate(0deg);
  }
  .cloud ul li:nth-child(4) .logo {
    animation: float 6s ease-in-out infinite -4s;
  }
  .cloud ul li:nth-child(5) {
    max-width: 196px;
    top: 350px;
    left: 300px;
  }
  .cloud ul li:nth-child(5):hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .cloud ul li:nth-child(5):nth-child(9):hover {
    transform: rotate(0deg);
  }
  .cloud ul li:nth-child(5) .logo {
    animation: float 6s ease-in-out infinite -5s;
  }
  .cloud ul li:nth-child(6) {
    max-width: 196px;
    top: -50px;
    left: 425px;
  }
  .cloud ul li:nth-child(6):hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .cloud ul li:nth-child(6):nth-child(9):hover {
    transform: rotate(0deg);
  }
  .cloud ul li:nth-child(6) .logo {
    animation: float 6s ease-in-out infinite -6s;
  }
  .cloud ul li:nth-child(7) {
    max-width: 122px;
    top: -45px;
    left: 125px;
  }
  .cloud ul li:nth-child(7):hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .cloud ul li:nth-child(7):nth-child(9):hover {
    transform: rotate(0deg);
  }
  .cloud ul li:nth-child(7) .logo {
    animation: float 6s ease-in-out infinite -7s;
  }
  .cloud ul li:nth-child(8) {
    max-width: 196px;
    top: 30px;
    left: 55px;
  }
  .cloud ul li:nth-child(8):hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .cloud ul li:nth-child(8):nth-child(9):hover {
    transform: rotate(0deg);
  }
  .cloud ul li:nth-child(8) .logo {
    animation: float 6s ease-in-out infinite -8s;
  }
  .cloud ul li:nth-child(9) {
    max-width: 500px;
    transform: rotate(0deg);
    width: 500px;
    top: 300px;
    left: 250px;
  }
  .cloud ul li:nth-child(9):hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .cloud ul li:nth-child(9):nth-child(9):hover {
    transform: rotate(0deg);
  }
  .cloud ul li:nth-child(9) .logo {
    animation: float 6s ease-in-out infinite -9s;
  }

  .email a {
    display: table;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background: url(images/bg.png) no-repeat center 0;
    background-size: 80px 80px;
    font: 18px/300px "HelveticaNeue_Light", Arial;
    letter-spacing: 0.05em;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  .email a {
    text-decoration: none;
    background-size: 300px 300px;
    color: #fff;
    opacity: 1;
  }

  .email span {
    display: block;
    position: absolute;
    top: 25px;
    left: 50%;
    margin-left: -21px;
    background: url(images/mail.png) no-repeat center 0;
    background-size: 43px 30px;
    width: 43px;
    height: 30px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .email a span {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }

  .email i {
    display: block;
    position: absolute;
    top: 190px;
    left: 50px;
    right: 50px;
    font: 12px/20px "HelveticaNeue_Light", Arial;
    color: #a6a6a6;
    opacity: 0;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }

  .email a i {
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 575px;
  }

  .header_social {
    display: none;
  }

  .header_menu {
    margin-left: auto;
    margin-right: 10px;
  }

  .about_text {
    width: 550px;
    margin-right: 0;
  }

  .about_text_header {
    width: 100%;
    margin-right: 0;
  }

  .about_text_main {
    width: 100%;
    margin-right: 0;
  }

  .middle_text {
    margin-top: 50px;
  }

  .info_photo {
    margin-left: 50px;
  }

  .info_photo_triangle:after {
    left: 15px;
  }

  .work {
    margin-top: 100px;
  }

  .work_triangle:after {
    margin-top: -99px;
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    height: 0;
    border-bottom: 100px solid #000;
    border-left: 100vw solid transparent;
  }

  .mobilenav_social {
    margin-top: 0px;
  }

  .logotype {
    font-size: 75px;
    font-weight: 700;
  }

  .design {
    font-size: 30px;
    font-weight: 700;
  }

  .style {
    font-size: 34px;
    font-weight: 700;
  }

  .visitki {
    font-size: 32px;
    font-weight: 700;
  }

  .present {
    font-size: 16px;
    font-weight: 700;
  }

  .banners {
    font-size: 27px;
    font-weight: 700;
  }

  .bouqlets {
    font-size: 17px;
    font-weight: 700;
  }

  .flyers {
    font-size: 18px;
    font-weight: 700;
  }

  .social {
    font-size: 16px;
    font-weight: 700;
    transform: rotate("90deg");
  }

  .email a {
    text-decoration: none;
    background-size: 300px 300px;
    color: #fff;
    opacity: 1;
  }

  main {
    position: relative;
    margin: auto;
  }

  img {
    max-width: 100%;
  }

  .cloud {
    position: relative;
    margin: 8rem auto;
    height: 520px;
  }
  .cloud h3 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    margin: 0;
  }
  .cloud ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .cloud ul li {
    position: absolute;
    padding: 0;
    margin: 0;
    transition: 0.2s;
  }
  .cloud ul li:hover {
    text-decoration: none;
  }
  .cloud ul li .logo {
    position: relative;
    display: block;
    color: #fff;
  }
  .cloud ul li:nth-child(1) {
    max-width: 400px;
    width: 850px;
    top: -10px;
    left: 165px;
  }
  .cloud ul li:nth-child(1):hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .cloud ul li:nth-child(1):nth-child(9):hover {
    transform: rotate(0deg);
  }
  .cloud ul li:nth-child(1) .logo {
    animation: float 6s ease-in-out infinite -1s;
  }
  .cloud ul li:nth-child(2) {
    max-width: 122px;
    top: 100px;
    left: 35px;
  }
  .cloud ul li:nth-child(2):hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .cloud ul li:nth-child(2):nth-child(9):hover {
    transform: rotate(0deg);
  }
  .cloud ul li:nth-child(2) .logo {
    animation: float 6s ease-in-out infinite -2s;
  }
  .cloud ul li:nth-child(3) {
    max-width: 300px;
    text-align: right;
    width: 550px;
    top: 215px;
    right: 85px;
  }
  .cloud ul li:nth-child(3):hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .cloud ul li:nth-child(3):nth-child(9):hover {
    transform: rotate(0deg);
  }
  .cloud ul li:nth-child(3) .logo {
    animation: float 6s ease-in-out infinite -3s;
  }
  .cloud ul li:nth-child(4) {
    max-width: 196px;
    top: 260px;
    right: 375px;
  }
  .cloud ul li:nth-child(4):hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .cloud ul li:nth-child(4):nth-child(9):hover {
    transform: rotate(0deg);
  }
  .cloud ul li:nth-child(4) .logo {
    animation: float 6s ease-in-out infinite -4s;
  }
  .cloud ul li:nth-child(5) {
    max-width: 196px;
    top: 225px;
    left: 65px;
  }
  .cloud ul li:nth-child(5):hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .cloud ul li:nth-child(5):nth-child(9):hover {
    transform: rotate(0deg);
  }
  .cloud ul li:nth-child(5) .logo {
    animation: float 6s ease-in-out infinite -5s;
  }
  .cloud ul li:nth-child(6) {
    max-width: 196px;
    top: 50px;
    left: 70px;
  }
  .cloud ul li:nth-child(6):hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .cloud ul li:nth-child(6):nth-child(9):hover {
    transform: rotate(0deg);
  }
  .cloud ul li:nth-child(6) .logo {
    animation: float 6s ease-in-out infinite -6s;
  }
  .cloud ul li:nth-child(7) {
    max-width: 122px;
    top: 275px;
    left: 240px;
  }
  .cloud ul li:nth-child(7):hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .cloud ul li:nth-child(7):nth-child(9):hover {
    transform: rotate(0deg);
  }
  .cloud ul li:nth-child(7) .logo {
    animation: float 6s ease-in-out infinite -7s;
  }
  .cloud ul li:nth-child(8) {
    max-width: 196px;
    top: 0px;
    left: 70px;
  }
  .cloud ul li:nth-child(8):hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .cloud ul li:nth-child(8):nth-child(9):hover {
    transform: rotate(0deg);
  }
  .cloud ul li:nth-child(8) .logo {
    animation: float 6s ease-in-out infinite -8s;
  }
  .cloud ul li:nth-child(9) {
    max-width: 300px;
    transform: rotate(0deg);
    text-align: right;
    width: 500px;
    top: 55px;
    left: 190px;
  }
  .cloud ul li:nth-child(9):hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .cloud ul li:nth-child(9):nth-child(9):hover {
    transform: rotate(0deg);
  }
  .cloud ul li:nth-child(9) .logo {
    animation: float 6s ease-in-out infinite -9s;
  }

  .email a {
    display: table;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background: url(images/bg.png) no-repeat center 0;
    background-size: 80px 80px;
    font: 18px/300px "HelveticaNeue_Light", Arial;
    letter-spacing: 0.05em;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  .email a {
    text-decoration: none;
    background-size: 300px 300px;
    color: #fff;
    opacity: 1;
  }

  .email span {
    display: block;
    position: absolute;
    top: 25px;
    left: 50%;
    margin-left: -21px;
    background: url(images/mail.png) no-repeat center 0;
    background-size: 43px 30px;
    width: 43px;
    height: 30px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .email a span {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }

  .email i {
    display: block;
    position: absolute;
    top: 190px;
    left: 50px;
    right: 50px;
    font: 12px/20px "HelveticaNeue_Light", Arial;
    color: #a6a6a6;
    opacity: 0;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }

  .email a i {
    opacity: 1;
  }
}
@media screen and (max-width: 575px) {
  .container {
    width: 375px;
  }

  .work_item img {
    width: 250px;
  }

  .work_inner_row div {
    margin: 0;
    margin-bottom: 30px;
  }

  .work_inner_row .work_header {
    margin: 0;
  }

  .header_social {
    display: none;
  }

  .header_menu {
    margin-left: auto;
    margin-right: 10px;
  }

  .about_text {
    width: 300px;
    margin-right: 0;
  }

  .about_text_header {
    width: 100%;
    margin-right: 0;
  }

  .about_text_main {
    width: 375px;
    margin-right: 0;
  }

  .middle_text {
    margin-top: 75px;
  }

  .info_text_name {
    font-size: 45px;
  }

  .info_text_achievements {
    width: 375px;
    display: flex;
    justify-content: space-between;
  }

  .info_text_achieve {
    justify-content: center;
  }

  .info_text_achieve_header {
    text-align: center;
  }

  .info_text_achieve_text {
    width: 100%;
    text-align: center;
  }

  .info_photo {
    width: 346px;
    margin-left: 15px;
  }

  .info_photo img {
    width: 346px;
  }

  .info_photo_mob {
    display: block;
  }

  .info_photo_pc {
    display: none;
  }

  .info_photo_triangle:after {
    left: 0;
    border-left: 347px solid transparent;
    margin-top: -49px;
  }

  .social_hidden {
    margin-left: -25px;
  }

  .work {
    margin-top: 100px;
  }

  .work_triangle:after {
    margin-top: -74px;
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    height: 0;
    border-bottom: 75px solid #000;
    border-left: 100vw solid transparent;
  }

  .mobilenav_social {
    margin-left: 25px;
  }

  .logotype {
    font-size: 56px;
    font-weight: 700;
  }

  .design {
    font-size: 35px;
    font-weight: 700;
  }

  .style {
    font-size: 30px;
    font-weight: 700;
  }

  .visitki {
    font-size: 35px;
    font-weight: 700;
  }

  .present {
    font-size: 20px;
    font-weight: 700;
  }

  .banners {
    font-size: 35px;
    font-weight: 700;
  }

  .bouqlets {
    font-size: 20px;
    font-weight: 700;
  }

  .flyers {
    font-size: 27px;
    font-weight: 700;
  }

  .email a {
    display: table;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background: url(images/bg.png) no-repeat center 0;
    background-size: 80px 80px;
    font: 18px/300px "HelveticaNeue_Light", Arial;
    letter-spacing: 0.05em;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  .email a {
    text-decoration: none;
    background-size: 300px 300px;
    color: #fff;
    opacity: 1;
  }

  .email span {
    display: block;
    position: absolute;
    top: 25px;
    left: 50%;
    margin-left: -21px;
    background: url(images/mail.png) no-repeat center 0;
    background-size: 43px 30px;
    width: 43px;
    height: 30px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .email a span {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }

  .email i {
    display: block;
    position: absolute;
    top: 190px;
    left: 50px;
    right: 50px;
    font: 12px/20px "HelveticaNeue_Light", Arial;
    color: #a6a6a6;
    opacity: 0;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }

  .email a i {
    opacity: 1;
  }

  .mobilenav_social {
    margin-top: 0px;
  }

  .social {
    font-size: 30px;
    font-weight: 700;
    transform: rotate(0deg);
  }

  main {
    position: relative;
    margin: auto;
  }

  img {
    max-width: 100%;
  }

  .cloud {
    position: relative;
    margin: 8rem auto;
    height: 520px;
  }
  .cloud h3 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    margin: 0;
  }
  .cloud ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .cloud ul li {
    position: absolute;
    padding: 0;
    margin: 0;
    transition: 0.2s;
  }
  .cloud ul li:hover {
    text-decoration: none;
  }
  .cloud ul li .logo {
    position: relative;
    display: block;
    color: #fff;
  }
  .cloud ul li:nth-child(1) {
    max-width: 300px;
    width: 850px;
    top: 225px;
    left: 100px;
  }
  .cloud ul li:nth-child(1):hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .cloud ul li:nth-child(1):nth-child(9):hover {
    transform: rotate(0deg);
  }
  .cloud ul li:nth-child(1) .logo {
    animation: float 6s ease-in-out infinite -1s;
  }
  .cloud ul li:nth-child(2) {
    max-width: 122px;
    top: 150px;
    left: 0px;
  }
  .cloud ul li:nth-child(2):hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .cloud ul li:nth-child(2):nth-child(9):hover {
    transform: rotate(0deg);
  }
  .cloud ul li:nth-child(2) .logo {
    animation: float 6s ease-in-out infinite -2s;
  }
  .cloud ul li:nth-child(3) {
    max-width: 200px;
    text-align: left;
    width: 550px;
    top: 50px;
    right: 150px;
  }
  .cloud ul li:nth-child(3):hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .cloud ul li:nth-child(3):nth-child(9):hover {
    transform: rotate(0deg);
  }
  .cloud ul li:nth-child(3) .logo {
    animation: float 6s ease-in-out infinite -3s;
  }
  .cloud ul li:nth-child(4) {
    max-width: 196px;
    top: 375px;
    right: 50px;
  }
  .cloud ul li:nth-child(4):hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .cloud ul li:nth-child(4):nth-child(9):hover {
    transform: rotate(0deg);
  }
  .cloud ul li:nth-child(4) .logo {
    animation: float 6s ease-in-out infinite -4s;
  }
  .cloud ul li:nth-child(5) {
    max-width: 196px;
    top: 110px;
    left: 175px;
  }
  .cloud ul li:nth-child(5):hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .cloud ul li:nth-child(5):nth-child(9):hover {
    transform: rotate(0deg);
  }
  .cloud ul li:nth-child(5) .logo {
    animation: float 6s ease-in-out infinite -5s;
  }
  .cloud ul li:nth-child(6) {
    max-width: 196px;
    top: 320px;
    left: 0px;
  }
  .cloud ul li:nth-child(6):hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .cloud ul li:nth-child(6):nth-child(9):hover {
    transform: rotate(0deg);
  }
  .cloud ul li:nth-child(6) .logo {
    animation: float 6s ease-in-out infinite -6s;
  }
  .cloud ul li:nth-child(7) {
    max-width: 122px;
    top: 0px;
    left: 0px;
  }
  .cloud ul li:nth-child(7):hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .cloud ul li:nth-child(7):nth-child(9):hover {
    transform: rotate(0deg);
  }
  .cloud ul li:nth-child(7) .logo {
    animation: float 6s ease-in-out infinite -7s;
  }
  .cloud ul li:nth-child(8) {
    max-width: 196px;
    top: 250px;
    left: 0px;
  }
  .cloud ul li:nth-child(8):hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .cloud ul li:nth-child(8):nth-child(9):hover {
    transform: rotate(0deg);
  }
  .cloud ul li:nth-child(8) .logo {
    animation: float 6s ease-in-out infinite -8s;
  }
  .cloud ul li:nth-child(9) {
    max-width: 300px;
    transform: rotate(0deg);
    text-align: right;
    width: 500px;
    top: -50px;
    left: 50px;
  }
  .cloud ul li:nth-child(9):hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .cloud ul li:nth-child(9):nth-child(9):hover {
    transform: rotate(0deg);
  }
  .cloud ul li:nth-child(9) .logo {
    animation: float 6s ease-in-out infinite -9s;
  }
}
@media screen and (max-width: 375px) {
  #button {
    right: 60px;
  }

  .menu_icon {
    position: fixed;
    top: 42px;
    left: 50vw;
  }

  .mobilenav_social {
    margin-left: 25px;
  }

  .container {
    width: 300px;
  }

  section {
    padding-left: 10px;
    padding-right: 10px;
  }

  .show {
    margin-top: 40px;
  }

  .work {
    padding-left: 10px;
  }

  .menu_icon {
    margin-right: 15px;
  }

  .about_text_main {
    width: 275px;
  }

  .middle_text_inner {
    width: 275px;
  }

  .info-text {
    width: 275px;
  }

  .info_text_name {
    font-size: 40px;
    width: 275px;
  }

  .info_text_profession {
    width: 275px;
  }

  .info_text_achievements {
    width: 275px;
    margin-left: 0;
  }

  .info_photo img {
    width: 275px;
  }

  .mobilenav_social {
    margin-top: 0;
  }

  #button {
    right: 30px;
  }

  .email a {
    margin-left: 0;
  }

  .header_inner {
    padding-left: 15px;
  }

  .work_header {
    font-size: 40px;
  }

  .logotype {
    font-size: 48px;
    font-weight: 700;
  }

  .design {
    font-size: 30px;
    font-weight: 700;
  }

  .style {
    font-size: 24px;
    font-weight: 700;
  }

  .visitki {
    font-size: 35px;
    font-weight: 700;
  }

  .present {
    font-size: 20px;
    font-weight: 700;
  }

  .banners {
    font-size: 35px;
    font-weight: 700;
  }

  .bouqlets {
    font-size: 20px;
    font-weight: 700;
  }

  .flyers {
    font-size: 27px;
    font-weight: 700;
  }

  .social {
    font-size: 26px;
    font-weight: 700;
    transform: rotate(0deg);
  }

  main {
    position: relative;
    margin: auto;
  }

  img {
    max-width: 100%;
  }

  .cloud {
    position: relative;
    margin: 8rem auto;
    height: 520px;
  }
  .cloud h3 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    margin: 0;
  }
  .cloud ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .cloud ul li {
    position: absolute;
    padding: 0;
    margin: 0;
    transition: 0.2s;
  }
  .cloud ul li:hover {
    text-decoration: none;
  }
  .cloud ul li .logo {
    position: relative;
    display: block;
    color: #fff;
  }
  .cloud ul li:nth-child(1) {
    max-width: 200px;
    width: 850px;
    top: 225px;
    left: 125px;
  }
  .cloud ul li:nth-child(1):hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .cloud ul li:nth-child(1):nth-child(9):hover {
    transform: rotate(0deg);
  }
  .cloud ul li:nth-child(1) .logo {
    animation: float 6s ease-in-out infinite -1s;
  }
  .cloud ul li:nth-child(2) {
    max-width: 122px;
    top: 150px;
    left: 0px;
  }
  .cloud ul li:nth-child(2):hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .cloud ul li:nth-child(2):nth-child(9):hover {
    transform: rotate(0deg);
  }
  .cloud ul li:nth-child(2) .logo {
    animation: float 6s ease-in-out infinite -2s;
  }
  .cloud ul li:nth-child(3) {
    max-width: 200px;
    text-align: left;
    width: 550px;
    top: 50px;
    right: 100px;
  }
  .cloud ul li:nth-child(3):hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .cloud ul li:nth-child(3):nth-child(9):hover {
    transform: rotate(0deg);
  }
  .cloud ul li:nth-child(3) .logo {
    animation: float 6s ease-in-out infinite -3s;
  }
  .cloud ul li:nth-child(4) {
    max-width: 196px;
    top: 375px;
    right: 100px;
  }
  .cloud ul li:nth-child(4):hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .cloud ul li:nth-child(4):nth-child(9):hover {
    transform: rotate(0deg);
  }
  .cloud ul li:nth-child(4) .logo {
    animation: float 6s ease-in-out infinite -4s;
  }
  .cloud ul li:nth-child(5) {
    max-width: 196px;
    top: 110px;
    left: 100px;
  }
  .cloud ul li:nth-child(5):hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .cloud ul li:nth-child(5):nth-child(9):hover {
    transform: rotate(0deg);
  }
  .cloud ul li:nth-child(5) .logo {
    animation: float 6s ease-in-out infinite -5s;
  }
  .cloud ul li:nth-child(6) {
    max-width: 196px;
    top: 320px;
    left: 0px;
  }
  .cloud ul li:nth-child(6):hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .cloud ul li:nth-child(6):nth-child(9):hover {
    transform: rotate(0deg);
  }
  .cloud ul li:nth-child(6) .logo {
    animation: float 6s ease-in-out infinite -6s;
  }
  .cloud ul li:nth-child(7) {
    max-width: 122px;
    top: 0px;
    left: 0px;
  }
  .cloud ul li:nth-child(7):hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .cloud ul li:nth-child(7):nth-child(9):hover {
    transform: rotate(0deg);
  }
  .cloud ul li:nth-child(7) .logo {
    animation: float 6s ease-in-out infinite -7s;
  }
  .cloud ul li:nth-child(8) {
    max-width: 196px;
    top: 250px;
    left: 0px;
  }
  .cloud ul li:nth-child(8):hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .cloud ul li:nth-child(8):nth-child(9):hover {
    transform: rotate(0deg);
  }
  .cloud ul li:nth-child(8) .logo {
    animation: float 6s ease-in-out infinite -8s;
  }
  .cloud ul li:nth-child(9) {
    max-width: 300px;
    transform: rotate(0deg);
    text-align: right;
    width: 500px;
    top: -35px;
    left: -25px;
  }
  .cloud ul li:nth-child(9):hover {
    transform: scale(1.2);
    text-decoration: none;
  }
  .cloud ul li:nth-child(9):nth-child(9):hover {
    transform: rotate(0deg);
  }
  .cloud ul li:nth-child(9) .logo {
    animation: float 6s ease-in-out infinite -9s;
  }
}
@media (max-width: 320px) {
  #button {
    right: 60px;
  }
}

/*# sourceMappingURL=style.css.map */
